<%  scriptName = "exparser";
    ScriptName = "ExParser"; %>
<%=ScriptName%>
====

> <%= pkg.description %>


Overview
--------

**<%=ScriptName%>** is a  _node_ module for parsing **Expressions** within text files. **Expressions** are defined as sequences (e.g: `arrays`) of _Regular Expressions_.

Installation
------------

### Install with npm

Download and install with the following:

~~~
npm install -g <%=scriptName%>
~~~


### Dependencies ###

These are installed when **<%=pkg.name%>** is installed.
<% var  fw = Object.keys(pkg.dependencies).reduce(function (t, c) {
            var len = c.length;
            return len > t ? len : t;
        }, 0),
        deps = Object.keys(pkg.dependencies).map(function (key) {
            var pad = Array(fw - key.length + 1).join(" ");
            return key + ": " + pad + pkg.dependencies[key];
        }).join("\n");%>
~~~
<%=deps%>
~~~


### Development Dependencies ###

Installed when you run `npm link` in the package directory.
<% var  fw = Object.keys(pkg.devDependencies).reduce(function (t, c) {
            var len = c.length;
            return len > t ? len : t;
        }, 0),
        devDeps = Object.keys(pkg.devDependencies).map(function (key) {
            var pad = Array(fw - key.length + 1).join(" ");
            return key + ": " + pad + pkg.devDependencies[key];
        }).join("\n");%>
~~~
<%=devDeps%>
~~~


Report an Issue
---------------

* [Bugs](<%=pkg.bugs.url%>)
* Contact the author: <jhamlet@hamletink.com>


License
-------

<%=license.split("\n").map(function (line) { return "> " + line; }).join("\n")%>

